.center {
    margin: auto;
    width: 50%;
    height: 440px;
    padding: 10px;
    border: 1px solid gray;
  }
  .upload_file {
    z-index: 6;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  #lbluploadfile {
    position: absolute;
    left: 58%;
    top: 52%;
    transform: translate(-50%, -40%);
    z-index: 4;
  }

  #choosefile {
    z-index: 4;
  }
